root = true

[*]
# Indent using 2 spaces.
indent_style = space
indent_size = 2
tab_width = 2
# Use Unix-style newlines with a newline ending every file.
end_of_line = lf
insert_final_newline = true
# Use UTF-8 without BOM.
charset = utf-8
# Remove any trailing whitespace.
trim_trailing_whitespace = true
# Restrict line length to 80 characters.
max_line_length = 80

[*.md]
# Do not remove trailing spaces for line-breaks.
trim_trailing_whitespace = false
