#!/usr/bin/env sh

# Make VS Code the default editor, nobody needs vim or emacs
export EDITOR="/usr/local/bin/code -w";

# Use standard ISO 8601 timestamp
# %F equivalent to %Y-%m-%d
# %T equivalent to %H:%M:%S (24-hours format)
export HISTTIMEFORMAT="%F %T ";
# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE="32768";
export HISTFILESIZE="${HISTSIZE}"
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL="erasedups:ignoreboth";
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:bg:fg:history:clear:exit:date:* --help";

# Prefer German and use UTF-8.
export LANG="de_DE.UTF-8";
export LC_ALL="de_DE.UTF-8";

# Manuals
export MANPATH="/opt/local/share/man:${MANPATH}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER="less -X";

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
GPG_TTY="$(tty)";
export GPG_TTY;

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY="$HOME/.node_history";
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE="32768";
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE="sloppy";

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING="UTF-8";
