##############################################################################
# macOS and Windows system files
# @see https://github.com/github/gitignore/tree/master/Global
##############################################################################

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes


##############################################################################
# Editor project files
# @see https://github.com/github/gitignore/tree/master/Global
##############################################################################

# Sublime Text
*.sublime-project
*.sublime-workspace

# Eclipse
.settings/
.metadata
.buildpath
.loadpath
.gradle
.cproject
.texlipse
.externalToolBuilders/
bin/
tmp/
*.tmp
*.bak
*.swp
*.launch
*~.nib
*.pydevproject
local.properties
