# This is the configuration file for Ghostty.
# https://ghostty.org/docs/config.

theme = catppuccin-mocha.conf

font-family = "Dank Mono"
font-size = 16

macos-titlebar-style = tabs
window-padding-x = 15
window-padding-y = 15
window-inherit-working-directory = true

quick-terminal-position = bottom

mouse-hide-while-typing = true
copy-on-select = true

keybind = global:control+shift+<=toggle_quick_terminal
